<section class="contact-info-section">
  <div class="container">
    <div class="contact-wrapper m-auto">
      <div class="row">
        <div class="col-12 text-center">
          <h4>For orders and inquiries:</h4>
          <div class="m-3">
            <div>Call/Text 714-697-5083</div>
            <div>ellenmgamatero@yahoo.com</div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-4 text-center">
          <button class="btn btn-success contact-button m-1">
            <a href="tel:7146975083"><i class="fas fa-phone p-2" alt="phone icon"></i></a>
          </button>
        </div>
        <div class="col-4 text-center">
          <button class="btn btn-success contact-button m-1">
            <a href="sms:7146975083">
              <i class="fas fa-sms  p-2" alt="phone icon" style="size:'3x'"></i>
            </a>
          </button>
        </div>
        <div class="col-4 text-center">
          <button class="btn btn-success contact-button m-1">
            <a href="mailto:ellenmgamatero@yahoo.com">
              <i class="far fa-envelope p-2" alt="email icon"></i>
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
</section>
