.contact-info-section {
  /* background-color: rgb(172, 186, 187); */
  /* background-color: rgb(255, 218, 7); */
}

.contact-info-section{
  background-color: rgb(0, 0, 0);
}


.contact-wrapper {
  margin: 1rem;
  padding:1rem;
    color: rgb(248, 248, 248);
    /* background-color: rgba(255, 242, 0, 0.877); */
    border-radius: 5rem;
    /* background-color: rgba(255, 242, 0, 0.877); */

  }

  .contact-wrapper a {
    color: rgb(248, 248, 248);
  }

  .contact-button{
    border-radius: 3rem;
    font-size: 3rem;
  }


  @media only screen and (max-width: 400px) {
    .contact-button{
      border-radius: 2rem;
      font-size: 2rem;
    }
  }
