<section class="who-we-are-section">
  <div class="container">
<div class="global-subtitle text-center who-we-are-title p-4">Enjoy a Taste of Home!
</div>
<h4>
  <p class="who-we-are-text text-left">
    <i class="fas fa-check"></i>
    We specialize in Filipino Desserts!
  </p>
  <p class="who-we-are-text">
    <i class="fas fa-check"></i>
    Missing comfort food that reminds you of home? Feeling adventurous and want to try something new?  We have you covered!
  </p>
  <p class="who-we-are-text">
    <i class="fas fa-check"></i>
    Everything is made to order. What you get is guaranteed freshness from our oven to your home.
  </p>
  <p class="who-we-are-text">
    <i class="fas fa-check"></i>
    We accept catering orders and requests for your cravings, gatherings or simply for personal consumption.
  </p>
</h4>



    <div class="row text-center">
      <div class="col-md-6 p-4">
        <h3>Fresh Ingredients</h3>
        <img src="../../../../assets/images/icon-fresh-ingredients.png" class="img-fluid" alt="" style="max-width:50%">
      </div>
      <div class="col-md-6 p-4">

        <h3>Made to Order</h3>
        <img src="../../../../assets/images/icon-prepare.png" class="img-fluid" alt="" style="max-width:50%">
      </div>
      <div class="col-md-6 p-4">

        <h3>Family Recipes</h3>
        <img src="../../../../assets/images/icon-family-recipe.png" class="img-fluid" alt="" style="max-width:50%">
      </div>
      <div class="col-md-6 p-4">

        <h3>Comfort Food from home</h3>
        <img src="../../../../assets/images/icon-pinoy.png" class="img-fluid" alt="" style="max-width:50%">
      </div>
    </div>

  </div>
</section>
