<section class="footer-section p-4">
  <div class="footer-wrapper">
    <div class="footer-title">
      Site Links
    </div>
    <ul class="footer-item-ul">
      <li class="footer-item">
        <a href="#" class="footer-item-text"  [routerLink]="['']">Home</a>
      </li>
      <li class="footer-item">
        <a href="#" class="footer-item-text"  [routerLink]="['price-list']">Prices</a>
      </li>
      <li class="footer-item">
        <a href="#" class="footer-item-text"  [routerLink]="['contact']">Contact</a>
      </li>
    </ul>
  </div>
  <div class="footer-copyright text-center" style="color:white">
    <!-- <a target=”_blank” href="https://www.facebook.com/bea.madla/media_set?set=a.10215156617579669&type=3"
      class="footer-item-text">Like us on <img src="../../assets/images/facebook-icon.png" style="max-width:2.8rem"></a> -->
    <div class="footer-title">&copy; 2020 Mika's Homemade Delights</div>
    <div class="footer-title">Created with <i class="fas fa-heart pulse" style="color:red"></i> by MG </div>
  </div>

</section>
