<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card p-3 m-3">

            <div class="card-body">
              <h5 class="card-title">Contact Info</h5>
              <p class="card-text">
                For orders and inquiries:
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a href="tel:7146975083"><i class="fas fa-phone" alt="phone icon"> 714-697-5083</i></a>
              </li>
              <li class="list-group-item"> <a href="sms:7146975083">
                <i class="fas fa-sms" alt="phone icon"> 714-697-5083</i></a>
            </li>
              <li class="list-group-item">
                <a href="mailto:ellenmgamatero@yahoo.com">
                <i class="far fa-envelope" alt="email icon"> ellenmgamatero@yahoo.com</i>
              </a>
            </li>
            </ul>
            <div class="card-body">
              <button class="btn btn-warning" [routerLink]="['']">Home</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

