.contact-section {
  background: url(../../../assets/images/flour-eggs.jpg) no-repeat center center;
  min-height: 50vh;
  /* filter:blur(2px);
  -webkit-filter: blur(2px); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: none;
  padding: 1rem;
}

.contact-wrapper {
padding:1rem;
  color: rgb(248, 248, 248);
  background-color: rgba(255, 0, 0, 0.877);
  border-radius: 5rem;
}

.contact-wrapper a {
  color: rgb(248, 248, 248);
}
