

.pricelist-section{
  /* background: url(../../../assets/images/kitchen.jpg) no-repeat center center; */
  background-color: rgb(191, 219, 230);
  min-height:65vh;
  /* filter:blur(2px);
  -webkit-filter: blur(2px); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: none;
}

.price-wrapper{
  padding: 2rem;

  color: rgb(255, 255, 255);
 background-color:rgba(32, 126, 4, 0.945);
 border-radius: 3rem;
}

.card{

  border-radius: 15px !important;
  /* box-shadow: 2px 2px 10px 0px rgb(100, 108, 170); */
  box-shadow: 2px 2px 10px 0px    rgb(82, 48, 48);
}
