<section class="pricelist-section text-center align-middle p-4 global-subtitle">
  <div class="global-subtitle" style="color:white">Price List</div>
  <div class="row">
    <div class="col-md-4">
      <div class="card m-2">
        <img class="card-img-top" src="../../../assets/images/kutsinta.jpg" alt="kutsinta">
        <div class="card-body">
          <div class="card-title">Kutsinta</div>
          <div>
            <small class="card-text">50 cents</small>
          </div>
          <div class="lead">Minimum 12 pcs</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card  m-2">
        <img class="card-img-top" src="../../../assets/images/maja-blanca.jpg" alt="maja">
        <div class="card-body">
          <div class="card-title">Maja Blanca</div>
          <div>
            <small class="card-text">$20</small>
          </div>
          <div class="lead">12" x 9" x 1 1/2"</div>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card  m-2">
        <img class="card-img-top" src="../../../assets/images/cassava-cake.jpg" alt="cassava">
        <div class="card-body">
          <div class="card-title">Cassava Cake</div>
          <div>
            <small class="card-text">$20</small>
          </div>
          <div class="lead">8" x 8" x 1 5/8"</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="pricelist-section text-center align-middle p-4 global-subtitle">
  <div class="row">
    <div class="col-12">
      <div class="price-wrapper">
        <h2 style="text-decoration: underline">Price List</h2>
        <h5>Kutsinta - 50 cents per piece (12 piece minimum)</h5>
        <h5>Cassava Cake - $20</h5>
        <h5>Maja Blanca - $20</h5>
      </div>
    </div>
  </div>
</section> -->
