

.pricelist-section{
  background: url(../../../assets/images/kitchen.jpg) no-repeat center center;
  min-height:65vh;
  /* filter:blur(2px);
  -webkit-filter: blur(2px); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: none;
}

.price-wrapper{
  padding: 2rem;

  color: rgb(255, 255, 255);
 background-color:rgba(32, 126, 4, 0.945);
 border-radius: 3rem;
}
