<section class="mini-gallery-section">
  <div class="container">


    <div class="global-subtitle text-center gallery-dessert-title">
      <span> The Desserts</span>
    </div>
    <div class="row text-center p-3">
      <div class="col-md-6 text-center p-3">
        <img src="../../../../assets/images/kutsinta.jpg" class="img-fluid gallery-img" alt="kutsinta" style="width:100%">
      </div>
      <div class="col-md-6 text-center gallery-single-dessert-text">
        <div class="global-subtitle text-center ">
          <h3 class="mini-gallery-subtitle">Kutsinta</h3>
          <h5 class="mini-gallery-subtext">A type of steamed rice cake made from a mixture of rice flour,
            brown sugar and lye. Steamed in small ramekins. Our cooked cakes are topped with cheese</h5>
        </div>
      </div>
    </div>
    <div class="row text-center p-3">
      <div class="col-md-6 text-center p-3 order-md-2">
        <img src="../../../../assets/images/maja-blanca.jpg" class="img-fluid gallery-img" alt="maja-blanca" style="width:100%">
      </div>
      <div class="col-md-6 text-center gallery-single-dessert-text">
        <div class="global-subtitle text-center order-md-1">
          <h3 class="mini-gallery-subtitle">Maja Blanca</h3>
          <h5 class="mini-gallery-subtext">Thick, sweet coconut-flavored pudding with sweet kernels of corn. It is
            served in different presentations. Ours is so thick and firm that it's served in slices, with shredded
            cheese on top.</h5>
        </div>
      </div>
    </div>
    <div class="row text-center p-3">
      <div class="col-md-6 text-center p-3">
        <img src="../../../../assets/images/cassava-cake.jpg" class="img-fluid gallery-img" alt="cassava-cake" style="width:100%">
      </div>
      <div class="col-md-6 text-center gallery-single-dessert-text">
        <div class="global-subtitle text-center ">
          <h3 class="mini-gallery-subtitle">Cassava Cake</h3>
          <h5 class="mini-gallery-subtext">A type of bibingka (traditional baked cakes), having its
            origins from adopting native recipes but using cassava instead of the traditional glutinous
            rice batter. It is also known more rarely as cassava bibingka.</h5>
        </div>
      </div>
    </div>
  </div>
</section>
